:root {
/*styleDoc - var Font Family
The base font family for the site.
<div style="font-family: var(--font-family);">
  Some Text
</div>*/
--font-family: Arial, helvetica, sans-serif;

/** styleDoc - var Font Size
<div style="font-size: var(--font-size); font-family: var(--font-family);">
  Some Text
</div>*/
--font-size: 100%;

/** styleDoc - Button Color grey 
<button class="button">
  Button Color 
</button>*/
--color-button: #ccc;
--color-button-background:  #333;
--line-height-button: 1.4em;

/** styleDoc - Button Color red
<button class="button">
  Button Color 
</button>*/
--color-button: #f00;

/** styleDoc - Button Color Background
<button class="var(--color-button)">
  Some Text
</button>*/
--color-button-background:  #333;

/** styleDoc - Button Color Text
<div style="var(--color-text)">
  Some Button Text 
</div>*/
--color-text: #00f;

}

/** styleDoc - Paragraph
A paragraph of text
<p>
  Some paragraph text 
</p>*/
p {
  color: var(--color-text);
}

.button {
  color: var(--color-button);
  background-color: var(--color-button-background);
  line-height: var(--line-height-button);
}
